{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #818a93;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About This Blog</h5>
    <div class="card-body">
        <p class="card-text"> This awesome blog is made on the top of our Favourite full stack Framework 'Django'!</p>
        <a href="#"
           class="btn btn-danger">Learn more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}